<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Execution-Beam-Test-Suite">
    <test name="Siddhi-execution-beam-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <!--<class name="org.wso2.extension.siddhi.execution.beam.streamprocessor.TestCaseOfBeamStreamProcessor"/>-->
            <class name="org.wso2.extension.siddhi.execution.beam.MultiPardoTestCase"/>
            <class name="org.wso2.extension.siddhi.execution.beam.FlattenWithoutWindowTestCase"/>
            <class name="org.wso2.extension.siddhi.execution.beam.FlattenWithWindowTestCase"/>
            <class name="org.wso2.extension.siddhi.execution.beam.GroupingByKeyTestCase"/>
            <class name="org.wso2.extension.siddhi.execution.beam.PardoLetterCountTestCase"/>
            <class name="org.wso2.extension.siddhi.execution.beam.WindowingTestCase"/>
        </classes>
    </test>
</suite>